<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="assets/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="wrapper">

    <div class="container">
        <section>
            <header>
                <h1>James Whayman</h1>
                <h2>Freelance Web Developer</h2>
            </header>

            <div class="services">
                <div class="services__header">
                    <div class="line"></div>
                    <h3>Services</h3>
                    <div class="line"></div>
                </div>

                <div class="services__container">
                    <div class="service">
                        <h4>Web design</h4>
                        <p>I design around the content of the website, focusing on usability. Using these techniques, visitors are able to efficiently navigate the website and achieve their goals.</p>
                        <p>My strong knowledge of web technologies allows my designs to incorporate cutting-edge features, while maintaining support for older devices.</p>
                        <p>I work directly with my clients, providing weekly updates during the design process. The design process for a typical website takes approximately 4 to 6 weeks.</p>
                    </div>
                    <div class="service">
                        <h4>Web development</h4>
                        <p>Building websites has been a passion of mine since I was a teenager. I develop websites using solid, industry-standard platforms and technologies.</p>
                        <p>My technologies of choice, WordPress, Shopify and Laravel, provide my clients with all the functionality they need, while allowing non-technical website managers to maintain the website.</p>
                        <p>I offer web development as a stand-alone service, or as a package with a web design solution. If you already have a design, and just want it built, I'm your man. The development proces for a typical websites takes approximately 4 to 12 weeks.</p>
                    </div>
                    <div class="service">
                        <h4>Custom solutions</h4>
                        <p>Are you looking to create a website which requires advanced functionality or integrations with third-party technologies, that is not available as an off-the-shelf solution?</p>
                        <p>I have significant experience building bespoke web applications and plugins for clients requiring functionality specific to their business.</p>
                        <p>Each project is unique, and typically requires a few initial discussions to determine the full scope before an estimate can be provided.</p>
                    </div>
                </div>
            </div>

            <footer>
                <a class="button" href="mailto:hello@jameswhayman.com">
                    <h4>Enquire</h4>
                    <p>hello@jameswhayman.com</p>
                </a>
            </footer>
        </section>
    </div>
</div>

<script src="assets/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.27/webfontloader.js"></script>
<script src="assets/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>